version: "3.9"

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    networks:
      - devnet
    volumes:
      - pgdata:/var/lib/postgresql/data

networks:
  devnet:

volumes:
  pgdata:
