version: '3.9'

services:
  db:
    image: postgres:16
    container_name: nextjs_postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    networks:
        - nextjs_net
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

networks:
    nextjs_net: